.input{
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.button:hover{
    padding: 10px 20px;
    border: 0.5px solid blue;
    border-radius: 4px;
    color: white;
    background-color: rgb(24, 86, 186);
    cursor: pointer;  
    background-color: cornflowerblue;
}
.button {
    padding: 10px 20px;
    border: 0.5px solid blue;
    border-radius: 4px;
    color: white;
    background-color: rgb(24, 86, 186);
    cursor: pointer;  
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

